.contactbackground {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #7382ca;
    background-image: linear-gradient(
      43deg,
      #10254477 0%,
      #393f42 46%,
      #1e092c8e 100%
    );
    padding-top: 110px;
  }
  .contacthead {
    padding-top: 3rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .FormContact{
    margin: 50px;
  }
  .contactpara {
    padding-top: 1rem;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-family: 'Poppins';
  }
  .contactbtn {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px;
    background-color: transparent;
    letter-spacing: 2px;
  }
  .contactbtn:hover {
    background-color: rgba(51, 51, 51, 0.2);
  }
